<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>42240706949-ng7hm42rkefpd9gn61a6b1hs29qd5qb0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.42240706949-ng7hm42rkefpd9gn61a6b1hs29qd5qb0</string>
	<key>API_KEY</key>
	<string>AIzaSyDeEpvdGKSI3Iz3T0-h1uJsCViBbDi8jP0</string>
	<key>GCM_SENDER_ID</key>
	<string>42240706949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.miriamhendler.Dream-High</string>
	<key>PROJECT_ID</key>
	<string>dream-high-1dd67</string>
	<key>STORAGE_BUCKET</key>
	<string>dream-high-1dd67.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:42240706949:ios:3288f8d2488c423e</string>
	<key>DATABASE_URL</key>
	<string>https://dream-high-1dd67.firebaseio.com</string>
</dict>
</plist>